* {
    outline: none!important;
}
body, html{
    margin:0;
    padding:0;
    height:90%;
}
.header{
    display:flex;
    padding: 20px;
    color:burlywood;
    background-color: #77583c;
    margin:0;
    position:relative;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    background: -webkit-linear-gradient(#77583c, #5e230b);
}
.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.button-wrapper .cerrar {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    right:100px;
}
.btn {
    border-radius: 5px;
    padding: 8px 18px;
    font-size: 14px;
    border: none;
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
}
.btn.btn-primary {
    background-color: #5e1700;
    color: #FFF;
}
.btn.btn-primary:active {
    background-color: #5e230b;
    color: #FFF;
}
.btn.btn-second {
    background-color: #13445e;
    color: #FFF;
    text-decoration: none;
}
.btn-icon{
    background: #cca15d;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color:#5e1700;
}
.btn-icon.solcialnetworks{
    border: none;
    background:none;
    box-shadow:none;
    cursor: pointer;
    color: rgba(218, 197, 147, 0.51);
    font-size:27px;
}
.table-wrapper {
    padding: 0;
    margin: auto;
    width: 80%;
}
.table-wrapper.authors {
    padding: 0;
    margin: auto;
    width: 30%;
}
.table-wrapper.genders {
    padding: 0;
    margin: auto;
    width: 20%;
}
.characterist{
    margin:10px;
    list-style: none;
}

.form-container {
    width: 500px;
    margin: auto;
}
.form-wrapper {
    width:33.3%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
}
.form-wrapper select.form-control{
width:100%;
}
.form-wrapper .form-control {
    width: calc(100% - 30px);
    margin-bottom: 10px;
    border: solid 1px #eee;
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    background-color: #ffff;
}
.form-wrapper.fill {
    display: flex;
    width: calc(100% - 40px);
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
    height: 30px;
    margin-bottom: 1px;
}
.form-wrapper.fill .form-control{
    padding:0;
    margin-left:10px;
}
.form-container.fill{
    width: 100%;
}
.regist-form{
    width:500px;
}
.edit-form{
    width:500px;
}
.main-container{
    display:block;
    overflow:hidden;
    background-size:cover;
    background-color: #dac593;
    margin:0;
    height:100%;
}
.main-container.index{
    display:flex;
    overflow:hidden;
    background-size:cover;
    background-color: #dac593;
    margin:0;
    height:100%;
}
.preview-content{
    width:27%;
}
.menu{
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
}
alert.alert-danger {
    overflow: hidden;
    background: darkred;
    color: #fff;
    font-weight: bold;
}
.title-form{
    color:#5e1700;
    text-align:center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: burlywood;
    border-radius: 5px;
    border: double 2px #ccb266;
    margin:5px;
    border-right: none;
}
.main-menu{
    display:inline-flex;
}
.link{
    display:block;
    color:antiquewhite;
    text-decoration: none;
    margin:0 3px;
    padding: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #B4855B;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #B4855B;
}
.link:hover{
    background-color:#B4855B;
    transition: color 5s;
}
.booklook{
    width: 100%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
    margin-top: 10px;
}
.booklook book{
    width: 100%;
    height:100%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding:0;
}
.libro{
    display:flex;
    width: 100%;
    height:100px;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding:0;
}
found form-wrapper fill user{
    margin:10px;
}
footer{
    display:flex;
   height:14%;
    width:100%;
    background-color: #13445e;
}
.reply{
    width:100%;
    height:400px;
}
.image{
    width:50%;
    height:500px;
    margin:auto;
    padding:100px;
    padding-left:800px;
}
.libro.a{
    width:200px;
    height:50px;
    background: -webkit-linear-gradient(rgba(118, 22, 11, 0.67), #541008);
    margin-left:23px;
    display: flex;

}
.libro.b{
    width:200px;
    height:50px;
    background: -webkit-linear-gradient(rgba(52, 94, 150, 0.72), #20395B);
    margin-left:15px;
    display: flex;
}
.libro.c{
    width:200px;
    height:50px;
    background: -webkit-linear-gradient(rgba(47, 79, 79, 0.76), #1F3434);
    margin-left:95px;
    display: flex;
}
.libro.d{
    width:200px;
    height:50px;
    background: -webkit-linear-gradient(rgba(123, 97, 56, 0.76), #4F3E24);
    margin-left:50px;
    display: flex;
}
.libro.e{
    width:200px;
    height:50px;
    background: -webkit-linear-gradient(rgba(47, 79, 79, 0.56), #1B2D2D);
    margin-left:50px;
    display: flex;
}
.perarator{
    width:3px;
    height:40px;
    background-color: white;
    opacity:0.2;
    margin:auto;
 }
.letra{

    font-size: 20px;
    color:white;
    opacity:0.2;
    margin:10px;
    font-weight: bold;
}
.shadow {
    width: 150px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}