* {
    outline: none!important;
}
body, html{
    margin:0;
    padding:0;
    height:90%;
}
.header{
    display:flex;
    padding: 20px;
    color:burlywood;
    background-color: #77583c;
    margin:0;
    position:relative;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    background: -webkit-linear-gradient(#77583c, #5e230b);
}
.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.button-wrapper .cerrar {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    right:100px;
}
.btn {
    border-radius: 5px;
    padding: 8px 18px;
    font-size: 14px;
    border: none;
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
}
.btn.btn-primary {
    background-color: #5e1700;
    color: #FFF;
}
.btn.btn-primary:active {
    background-color: #5e230b;
    color: #FFF;
}
.btn.btn-second {
    background-color: #13445e;
    color: #FFF;
    text-decoration: none;
}
.btn-icon{
    background: #cca15d;
    border: none;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color:#5e1700;
}
.btn-icon.solcialnetworks{
    border: none;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    cursor: pointer;
    birder-radius:none;
    color: rgba(218, 197, 147, 0.51);
    height:35px;
    width:35px;
}
.table-wrapper {
    padding: 0;
    margin: auto;
    width: 80%;
}
.form-container {
    width: 500px;
    margin: auto;
}
.form-wrapper {
    width:33.3%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
}
.form-wrapper select.form-control{
width:100%;
}
.form-wrapper .form-control {
    width: calc(100% - 30px);
    margin-bottom: 10px;
    border: solid 1px #eee;
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    background-color: #ffff;
}
.form-wrapper.fill {
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
    height: 30px;
}
.form-wrapper.fill .form-control{
    padding:0;
    margin-left:10px;
}
.form-container.fill{
    width:800px;
}
.regist-form{
    width:500px;
}
.edit-form{
    width:500px;
}
.main-container{
    display:block;
    overflow:hidden;
    background-size:cover;
    background-color: #dac593;
    margin:0;
    height:100%;
}
.preview-content{
    width:27%;
}
.menu{
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
}
.menu{
}
.title-form{
    color:#5e1700;
    text-align:center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: burlywood;
    border-radius: 5px;
    border: double 2px #ccb266;
    margin:5px;
    border-right: none;
}
.main-menu{
    display:inline-flex;
}
.link{
    color:antiquewhite;
    text-decoration: none;
    margin-left:20px;
    width:350px;
    height:60px;
    margin:10px 3px;
    padding: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #B4855B;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #B4855B;
}
.link:hover{
    background-color:#B4855B;
    transition: color 5s;
}
.booklook{
    width: 100%;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: #ccb266;
    padding: 20px;
}
found form-wrapper fill user{
    margin:10px;
}
footer{
    display:flex;
   height:50px;
    width:100%;
    background-color: #13445e;
}
